.htpasswd
.env
.env.*.php
.env.php
/bootstrap/compiled.php
/vendor
.DS_Store
Thumbs.db
.vagrant
.bundle
.sass-cache
Gemfile.lock
.ruby-version
._*
/public/uploads
.phpintel

/public/assets/vendor/*
/public/assets/css/admin
/public/assets/css/frontend
/resources/assets/vendor
/node_modules
/node_modules/*
*.map
/public/build/*

/public/assets/js/admin/admin.js
/public/assets/js/admin/admin.min.js
/public/assets/js/frontend/main.js
/public/assets/js/frontend/main.min.js
/public/assets/js/bootstrap.js
