/* Multiple Input Fields */
.multiple-field {
    background-color: #ffffff;
    padding: 0 15px 15px;
    border: 1px solid #e7eaec;
    margin-bottom: 5px;

    position: relative;

    &:nth-child(even) {
        .dd-handle {
            background: #F9F9F9;
        }
    }

    .dd-handle {
        margin: 0 -15px 15px -15px;
        border-radius: 0;
        box-shadow: none;
        -webkit-boxshadow: none;
        -moz-boxshadow: none;
        -webkit-border-radius: 0;
        -mox-border-radius: 0;
        border-color: #e7eaec;
        border-width: 4px 0 1px;
        padding: 9px 15px 10px;
        background: white;

        h5 {
            display: inline-block;
        }
    }

    .remove-multiple {
        position: absolute;
        right: 15px;
        top: 13px;
        z-index: 1000;
    }


    &.slim {

        .dd-handle {
            position: absolute;
            top: 5px;
            left: 1px;
            margin: 0;
            border: none;
            z-index: 1000;
            background-color: none;
            padding: 15px 0 0 10px;
        }

        .remove-multiple {
            padding: 6px 10px;
        }

        > .row {
            padding-top: 13px;
            margin-right: 70px;
        }
    }
}

.multiple-fields .no-more {
    display: none;
}

.multiple-fields-add-more {
    margin-top: 15px;
}