label {
  &.required:after {
    content: "*";
  }
}

.form-wrapper .form-content label.agree {
  font-size: 14.5px;
  display: inline;
}


@media (min-width: $screen-sm) {
  .newsletter-form {
    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }
    .form-content {
      position: relative;

    .form-content-row {
      &:before {
        height: 100%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $color-credible;
        content: '';
        display: block;
        position: absolute;
        left: 61.75%;
        overflow: hidden;
      }
    }
  }
  }
}

@media (max-width: $screen-sm - 1) {
  .newsletter-form {
    .col-left {
      border-bottom: 1px solid $color-credible;
      padding-bottom: $line-height-computed * 1.5;
    }
    .col-right {
      padding-top: $line-height-computed * 2;
    }
  }
}



.g-recaptcha {
  display: inline-block;
  margin: 15px 0;
  border-radius: 3px;
  transition: .4s ease-in-out;
}

.g-recaptcha-required {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}


/* Error Handling */

meta.foundation-data-attribute-namespace {
  font-family: false;
}


/* Error Handling */

[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error {
  display: block;
  margin-top: 3px;
  color: $color-red;
}

[data-abide] span.error,
[data-abide] small.error {
  display: none;
}

.form-group.error,
.form-group .error {
  input,
  select,
  textarea,
  .g-recaptcha {
    border: 1px solid $color-red;
    box-shadow: inset 0 0 0 1px $color-red;
  }
  input[type=radio],
  input[type=checkbox] {
    border: none;
    box-shadow: none;
  }
  input[type=radio] + label,
  input[type=checkbox] + label {
    color: $color-red;
    font-weight: bold;
  }
}

@media (max-width: $screen-sm-max) {
  input,
  select,
  textarea {
    font-size: 16px !important;
    box-shadow: none !important;
  }
}

.form-wrapper {
  .form-header {
    background-color: $color-credible;
    color: white;
    padding: 35px 55px 0;
    h3 {
      margin-bottom: 22px;
    }
    @media (max-width: $screen-xs) {
      padding-left: 50px;
    }
  }
  .form-content {
    background-color: $color-light-grey;
    padding: 30px 40px;
    @media (max-width: $screen-xs) {
      padding: 25px;
    }
    font-size: 18px;
    position: relative;
    label {
      font-size: 18px;
      font-weight: normal;
    }
    input,
    textarea {
      border-radius: 1px;
      padding: 15px 18px;
      height: auto;
      &:focus {
        border: 1px solid $color-credible;
        box-shadow: none;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .btn {
      margin-top: 20px;
      background-color: $color-credible;
      font-size: 16px !important;
      text-align: left;
      padding: 17px 25px;
      border-radius: 1px;
    }
    .submit-btn-container {
      position: relative;
      &:after {
        @include font-awesome('\f178');
        position: absolute;
        top: 20px;
        right: 30px;
        color: white;
        //margin-left: 170px;
      }
    }
  }
}

.g-recaptcha {
  iframe {
    height: 76px;
    width: 302px;
  }
}


