.section-credentials,
.multiple-section.credential-column-wysiwyg {
    @media (min-width: $screen-sm) {
        .side .inner {
            padding: 0 20px;
        }
    }

    .image-field {
        text-align: center;

        img {
            display: inline-block;
            max-height: 200px;
        }
    }
}

.credential-footer-section {
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 180px;

    .col-sm-12 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: $screen-sm) {
        margin-top: 0;

        .col-sm-12 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.section-credentials {
    .banner {
        h1 {
            font-size: $font-size-h5;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .section-intro {
        text-align: center;
        padding: 40px 0;
        color: #fff;
        background-image: url(../../images/white-ray-bg-down.png);
        background-position: center top;
        background-repeat: no-repeat;

        h1 {
            text-align: center;
        }
    }

    .credential-intro-section {
        .section {
            margin-top: -60px;

            //padding-bottom: 60px;
       
        }
    }

    .one-column-wysiwyg {
        // Fake a col-sm-6 with col-sm-3 offset

        .color-target-container {
            padding-top: 15px;
            padding-bottom: 15px;

            @media (min-width: $screen-sm) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }

        .image-target {
            @media (min-width: $screen-sm) {
                width: 50%;
                margin-left: 25%;
                float: left;
            }
        }
    }
}

.multiple-section.credential-column-wysiwyg {
    margin-top: 0 !important;

    .row.teaser {
        padding-top: 40px;
        padding-bottom: 40px;

        @media (max-width: $screen-sm) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h2 {
            margin: 0 0 10px 0;
            font-size: $font-size-h3;
            text-transform: uppercase;
        }
    }

    .row.body {
        padding-top: 0;
        padding-bottom: 40px;
        overflow: hidden;
        color: $font-body-color;

        h2 {
            font-size: 42px;
            color: $font-body-color;
            margin: 0 0 38px 0;
        }
    }

    &.collapsible-element {
        .row.body {
            display: none;
        }

        &.open {
            .row.body {
                display: block;
            }
        }
    }

    .logo-box {
        padding-bottom: 100%;
        clear: both;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }

    .image-field {
        @media (max-width: $screen-sm) {
            margin: $line-height-computed 0;
        }
    }

    &.dd-item {
        .row.body {
            border-top: 1px dashed #fff;
        }
    }

    border-top: 1px solid #fff;

    // Admin fix
    select.form-control {
        color: $font-body-color;
    }

    .embedded-dropzone {
        border: 1px solid #ccc;
    }
}

// Block Colours

@mixin cred-box-color($class, $color, $lighten-percent: 25%) {
    .#{$class} {
        background-color: $color;
    }

    .credential-column-wysiwyg {
        // Default state
        .#{$class} {
            background-color: lighten($color, $lighten-percent);

            .teaser {
                color: darken($color, 30%);

                .side {
                    color: $color;
                }
            }

            .widget-icon-link a {
                border-color: $color;
                color: darken($color, 20%);
                background-color: transparent;
            }
        }

        &.closed {
            .#{$class} {
                background-color: $color;

                &:hover {
                    background-color: lighten($color, 5%);
                }

                .teaser {
                    color: #fff;

                    .side {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Standard
@include cred-box-color("credential-pink", #f16c71);

@include cred-box-color("credential-light-blue", #6277b8, 35%);

@include cred-box-color("credential-purple", #825ca5, 40%);

@include cred-box-color("credential-light-purple", #b96aab);

@include cred-box-color("credential-yellow", #fcb316, 30%);

@include cred-box-color("credential-light-orange", #f7941f, 30%);

@include cred-box-color("credential-orange", #f66e20, 35%);

@include cred-box-color("credential-red", #d23e3c, 35%);

@include cred-box-color("credential-light-green", #acbd86, 30%);

@include cred-box-color("credential-mid-green", #34ab71, 45%);

@include cred-box-color("credential-green", #018f69, 62%);

@include cred-box-color("credential-blue", #1f3d5e, 65%);

// Expert
@include cred-box-color("credential-exprt-purple", #c09be0, 20%);

@include cred-box-color("credential-exprt-green", #7eb562, 35%);

@include cred-box-color("credential-exprt-yellow", #ffdd00, 48%);

@include cred-box-color("credential-exprt-red", #df1a23, 35%);